@charset "utf-8";

body{
	background-color:#f5f5dc;
	height:1400px;
}
div.top{
	text-align:center;
}

div.head{
	height:150px;
	text-align:center;
	padding-top:30px;
}

div.content{
	height:200px;
	padding-left:500px;
}


div.middle{
	height:100px;
	padding-left:430px;
}

div.content2{
	height:600px;
	padding-left:300px;
}

div.tail{
	padding-top:20px;
	height:200px;
	text-align:center;
	display:none;
}

Table{
	border: 1px solid black;
}

tr.top{
	background-color:black;
	color:white;
}
td{
		border:1px solid black;
		width:125px;
		text-align:center;
}
}